{% extends 'userapp.html' %}
{% load static %}
{% block content %}

<div class="row"> 
  

<div class="col-md-6 col-lg-4 col-xl-3">
  <div class="rounded position-relative fruite-item">
      <div class="fruite-img">
          <img src="{% static 'img/baner-1.png' %}" style="height: 400px;width: 400px;" class="img-fluid w-100 rounded-top" alt="">
      </div>
      <div class="p-4 border border-secondary border-top-0 rounded-bottom">
          <h4>fruits</h4>
          <div class="d-flex justify-content-between flex-lg-wrap">
          </div>
      </div>
  </div>
</div>

<div class="col-md-6 col-lg-4 col-xl-3">
  <div class="rounded position-relative fruite-item">
      <div class="fruite-img">
          <img src="{% static 'img/hero-img-1.png' %}" style="height: 400px;width: 400px;" class="img-fluid w-100 rounded-top" alt="">
      </div>
      <div class="p-4 border border-secondary border-top-0 rounded-bottom">
          <h4>fruits</h4>
          <div class="d-flex justify-content-between flex-lg-wrap">
          </div>
      </div>
  </div>
</div>


<div class="col-md-6 col-lg-4 col-xl-3">
  <div class="rounded position-relative fruite-item">
      <div class="fruite-img">
          <img src="{% static 'img/single-item.jpg' %}" style="height: 400px;width: 400px;" class="img-fluid w-100 rounded-top" alt="">
      </div>
      <div class="p-4 border border-secondary border-top-0 rounded-bottom">
          <h4>Vegetables</h4>
          <div class="d-flex justify-content-between flex-lg-wrap">
          </div>
      </div>
  </div>
</div>


<div class="col-md-6 col-lg-4 col-xl-3">
  <div class="rounded position-relative fruite-item">
      <div class="fruite-img">
          <img src="{% static 'img/hero-img-2.jpg' %}" style="height: 400px;width: 400px;" class="img-fluid w-100 rounded-top" alt="">
      </div>
      <div class="p-4 border border-secondary border-top-0 rounded-bottom">
          <h4>Vegetables</h4>
          <div class="d-flex justify-content-between flex-lg-wrap">
          </div>
      </div>
  </div>
</div>
</div>





<div class="container-fluid banner bg-secondary my-5">
    <div class="container py-5">
        <div class="row g-4 align-items-center">
            <div class="col-lg-6">
                <div class="py-4">
                    <h1 class="display-3 text-white">Fresh Exotic Fruits</h1>
                    <p class="fw-normal display-3 text-dark mb-4">in Our Store</p>
                    <p class="mb-4 text-dark">The generated Lorem Ipsum is therefore always free from repetition injected humour, or non-characteristic words etc.</p>
                    <a href="#" class="banner-btn btn border-2 border-white rounded-pill text-dark py-3 px-5">BUY</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="position-relative">
                    <img src="img/baner-1.png" class="img-fluid w-100 rounded" alt="">
                    <div class="d-flex align-items-center justify-content-center bg-white rounded-circle position-absolute" style="width: 140px; height: 140px; top: 0; left: 0;">
                        <h1 style="font-size: 100px;">1</h1>
                        <div class="d-flex flex-column">
                            <span class="h2 mb-0">50$</span>
                            <span class="h4 text-muted mb-0">kg</span>
                        </div>
                    </div>
                </div>
            </div>

            <div>
               <p>A delivery website, or delivery app, is a platform that allows customers to order goods or services to be delivered to their location. Delivery websites can be accessed through a mobile app or a website.</p>
               <h3>payment</h3>
               <p>Customers can log in to the system or create a new account to provide contact and bank account details.</p> 
        
            <h3>Tracking</h3> 
            <p>Customers can track their deliveries in real time.</p> 
            
            <h3>Delivery</h3>
            <p>Once the order is confirmed, the restaurant owner receives it and sends it to the customer's location.</p> 
            
            <h3>Types
            </h3>
            <p>Delivery websites can offer a variety of services, including food delivery, grocery delivery, and local store products.</p>
</div>
        </div>
    </div>
</div>
{% endblock %}