{% extends 'adminapp.html' %}
{% block content %}

<form action="{% url 'productdata' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="card-body">
      <div class="form-group">
        <label for="exampleInputEmail1">product name</label>
        <input type="text" class="form-control" id="exampleInputEmail1" name="name" placeholder="Enter your product name">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">product image</label>
        <input type="file" class="form-control" id="exampleInputPassword1" name="image" placeholder="add an image">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">product price</label>
        <input type="number" class="form-control" id="exampleInputPassword1" name="price" placeholder="enter product price">
      </div>
     
      <div class="form-group">
        <label for="exampleInputPassword1">Choose Product category</label>
        <select name="category">
          {% for i in data %}
          <option>{{i.name}}</option>
          {% endfor %}
        </select>
  
      </div>

      
      <div class="form-group">
        <label for="exampleInputEmail1">product features</label>
        <input type="text" class="form-control" id="exampleInputEmail1" name="features" placeholder="enter product features">
      </div>
      
     
    </div>
    <!-- /.card-body -->

    <div class="card-footer">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>

{% endblock %}